.limited-deal-swiper .swiper-slide {
  width: 18vw;
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
  flex-shrink: 0;
}

.limited-deal-swiper .swiper-slide-active {
  width: 24vw;
  max-width: 100%;
}

@media (max-width: 768px) {
  .limited-deal-swiper .swiper-slide {
    width: 30vw;
  }
  .limited-deal-swiper .swiper-slide-active {
    width: 35vw;
  }
}

.deal-img {
  display: block;
  width: 100%;
}

.deal-overlay {
  bottom: 0.75rem;
  left: 0.75rem;
}

.swiper-slide-active .deal-overlay {
  bottom: 1.5rem;
  left: 1.5rem;
}

@media (max-width: 768px) {
  .deal-overlay {
  bottom: 8px;
  left: 8px;
}

.swiper-slide-active .deal-overlay {
  bottom: 8px;
  left: 8px ;
}

}

/* .swiper-slide-active .deal-img {
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
} */

.limited-deal-pagination {
  top: 29vw !important;
  left: 28vw !important;
  transform: translateX(-50%);
  width: auto !important;
  
}
@media (max-width: 1600px) {
  .limited-deal-pagination{
    display: block;
    top: 41vw !important;
    left: 29vw !important;
    transform: translateX(-50%);
    width: auto !important;
  }
}
@media (max-width: 1024px) {
  .limited-deal-pagination{
    display: none;
  }
}

@media (max-width: 768px) {
  .limited-deal-pagination{
    display: block;
    top: 41vw !important;
    left: 46vw !important;
    transform: translateX(-50%);
    width: auto !important;
  }
}


@media (max-width: 640px) {
  .limited-deal-pagination{
    display: none;
  }
}
::ng-deep .limited-deal-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  border: 3.5px solid white;
  background: #B6B6B6 ;
  opacity: 1;
}

::ng-deep .limited-deal-pagination .swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
  border: 3.5px solid white;
  background: #000000 ;
  outline: 1px solid #000000;
  opacity: 1;
}

button.swiper-button-disabled {
  opacity: 0.35;
  pointer-events: none;
}

