<header class="flex my-4 md:my-12  responsive-margin-x md:justify-between items-center">
    <button class="md:hidden mr-[2vw]">
          <img src="assets/icons/hamburger-menu.svg" alt="fasco-logo"  class="h-auto w-10 "/>   
    </button>
    <a href="/">
        <img src="assets/images/fasco-logo.png" alt="fasco-logo"  class="h-auto w-18.75 md:w-20"/>   
    </a>
    <div class="ml-auto flex gap-2 sm:gap-4 md:gap-[2vw] lg:gap-[3vw] items-center whitespace-nowrap  font-poppins">
        <nav class="gap-4 md:gap-[2vw] lg:gap-[3vw] items-center hidden md:flex">
            <a href="/">Home</a>
            <a href="/">Deals</a>
            <a href="/">New Arrivals</a>
            <a href="/">Packages</a>
        </nav>
        <div class="w-auto md:w-auto lg:w-[20vw] flex gap-2 md:gap-5 border-[#E3E3E3] border rounded-full h-min py-2 px-2 lg:px-4">
            <input type="text" placeholder="Search" class="w-full font-medium  outline-none text-[14px] hidden md:hidden lg:block md:text-[16px] "/>
            <img src="assets/icons/search.svg" alt="search-icon" class="ml-auto  w-5 md:w-6 lg:w-7.5"/>
        </div>
        <app-black-button placeholder="Sign Up" buttonClass="px-5 text-[12px]  md:px-8 lg:px-10 py-3 "></app-black-button>
       
    </div>

</header>