<app-auth-frame>
  <div
    class="flex flex-col gap-[2vw] md:gap-[1.5vw] text-30px-sm sm:text-28px-lg leading-[120%] max-w-125 i"
  >
    <h2 class="font-volkhov">Create Account in FASCO</h2>
    @if (errorMessage()) {
      <p class="font-poppins text-red-500 text-16px-sm md:text-16px-lg">
        {{ errorMessage() }}
      </p>
    }
    @if (successMessage()) {
      <p class="font-poppins text-green-600 text-16px-sm md:text-16px-lg">
        {{ successMessage() }}
      </p>
    }
    <div class="flex font-poppins gap-4 text-16px-sm md:text-16px-lg">
      <button
        class="flex items-center gap-2 justify-center w-full border-primary hover:bg-black text-black hover:text-white border py-2 px-8 rounded-lg transition-colors duration-300 ease-in-out"
      >
        <img alt="" src="assets/images/auth/google.png" class="size-6 mr-2" />
        <span>Create Account with Google</span>
      </button>
    </div>
    <div
      class="text-gray-dark font-poppins mx-auto mt-[1vw] xl:mt-[2vw] text-28px-sm md:text-28px-lg font-bold"
    >
      <span> - </span>
      <span> OR </span>
      <span> - </span>
    </div>
    <form
      class="flex flex-col gap-[2vw] md:gap-[1.5vw]"
      [formGroup]="signupForm"
      (ngSubmit)="submit()"
    >
      <!-- Input Form -->
      <div class="grid grid-cols-2 gap-[2vw] md:gap-[1.5vw]">
        <input
          placeholder="First Name"
          formControlName="firstName"
          class="focus:outline-none text-black placeholder:text-gray-light leading-[250%] w-full tracking-[8%] text-16px-sm md:text-16px-lg border-b border-gray-light"
        />
        <input
          placeholder="Last Name"
          formControlName="lastName"
          class="focus:outline-none text-black placeholder:text-gray-light leading-[250%] w-full tracking-[8%] text-16px-sm md:text-16px-lg border-b border-gray-light"
        />
        <input
          placeholder="Email"
          formControlName="email"
          class="focus:outline-none text-black placeholder:text-gray-light leading-[250%] w-full tracking-[8%] text-16px-sm md:text-16px-lg border-b border-gray-light"
        />
        <input
          placeholder="Phone Number"
          formControlName="phone"
          type="tel"
          class="focus:outline-none text-black placeholder:text-gray-light leading-[250%] w-full tracking-[8%] text-16px-sm md:text-16px-lg border-b border-gray-light"
        />
        <div class="relative w-full">
          <input
            [type]="isEyeClosed() ? 'password' : 'text'"
            placeholder="Password"
            formControlName="password"
            class="focus:outline-none text-black placeholder:text-gray-light leading-[250%] w-full tracking-[8%] text-16px-sm md:text-16px-lg border-b border-gray-light pr-10"
          />
          <button type="button" class="absolute right-0 top-1/2 -translate-y-1/2">
            <app-eye-track [isEyeClosed]="isEyeClosed" />
          </button>
        </div>
        <div class="relative w-full">
          <input
            [type]="isEyeClosed2() ? 'password' : 'text'"
            placeholder="Confrim Password"
            formControlName="confirmPassword"
            class="focus:outline-none text-black placeholder:text-gray-light leading-[250%] w-full tracking-[8%] text-16px-sm md:text-16px-lg border-b border-gray-light pr-10"
          />
          <button type="button" class="absolute right-0 top-1/2 -translate-y-1/2">
            <app-eye-track [isEyeClosed]="isEyeClosed2" />
          </button>
        </div>
      </div>
      <div class="flex flex-col gap-[2vw] md:gap-[1.5vw] lg:gap-[1vw] mt-[2vw]">
        <app-black-button
          class="mx-auto w-full md:w-[80%]"
          buttonClass="w-full py-[8px] xl:py-[10px] "
          [placeholder]="isSubmitting() ? 'Creating...' : 'Create Account'"
        />
        <app-transition-link link="/login" class="mx-auto w-full md:w-[80%]">
          <button
            class="w-full md:-mt-1 lg:mt-0 py-2 hover:bg-accent-blue-light text-16px-sm md:text-16px-lg border-accent-blue text-accent-blue border rounded-lg transition-colors duration-300 ease-in-out"
          >
            <span>Already have an account? Login In</span>
          </button>
        </app-transition-link>
        <app-transition-link
          link="/forgot-password"
          class="relative ml-auto mr-[10%] -mt-2 lg:mt-0 font-semibold tracking-[8%] text-16px-sm md:text-16px-lg text-accent-blue w-min whitespace-nowrap hover-underline"
          style="--after-color: #5b86e5"
        >
          Forgot Password?
        </app-transition-link>
      </div>
    </form>
  </div>
</app-auth-frame>
