<app-auth-frame>
  <div class="flex flex-col gap-[2vw] md:gap-[1.5vw] text-30px-sm sm:text-28px-lg leading-[120%] max-w-125">
    <h2 class="font-volkhov">@if (token()) {Reset Password} @else {Forgot Password}</h2>

    @if (message()) {
      <p class="text-green-600 text-sm">{{ message() }}</p>
    }
    @if (errorMessage()) {
      <p class="text-red-600 text-sm">{{ errorMessage() }}</p>
    }

    @if (!token()) {
      <form class="flex flex-col gap-6" [formGroup]="emailForm" (ngSubmit)="onSendLink()">
        <input
          placeholder="Enter your email"
          formControlName="email"
          type="email"
          class="focus:outline-none text-black placeholder:text-gray-light leading-[250%] w-full tracking-[8%] text-16px-sm md:text-16px-lg border-b border-gray-light"
        />
        <app-black-button
          class="mx-auto w-full md:w-[80%]"
          buttonClass="w-full py-[8px] xl:py-[10px]"
          [placeholder]="isSubmitting() ? 'Sending...' : 'Send Link'"
        />
      </form>
    } @else {
      <form class="flex flex-col gap-6" [formGroup]="resetForm" (ngSubmit)="onResetPassword()">
        <div class="relative w-full">
          <input
            [type]="isEyeClosed() ? 'text' : 'password'"
            placeholder="Enter new password"
            formControlName="newPassword"
            class="focus:outline-none text-black placeholder:text-gray-light leading-[250%] w-full tracking-[8%] text-16px-sm md:text-16px-lg border-b border-gray-light pr-10"
          />
          <button type="button" class="absolute right-0 top-1/2 -translate-y-1/2">
            <app-eye-track [isEyeClosed]="isEyeClosed" />
          </button>
        </div>

        <div class="relative w-full">
          <input
            [type]="isEyeClosed2() ? 'text' : 'password'"
            placeholder="Confirm new password"
            formControlName="confirmPassword"
            class="focus:outline-none text-black placeholder:text-gray-light leading-[250%] w-full tracking-[8%] text-16px-sm md:text-16px-lg border-b border-gray-light pr-10"
          />
          <button type="button" class="absolute right-0 top-1/2 -translate-y-1/2">
            <app-eye-track [isEyeClosed]="isEyeClosed2" />
          </button>
        </div>

        <app-black-button
          class="mx-auto w-full md:w-[80%]"
          buttonClass="w-full py-[8px] xl:py-[10px]"
          [placeholder]="isSubmitting() ? 'Updating...' : 'Update Password'"
        />
      </form>
    }
  </div>
</app-auth-frame>
