<app-auth-frame>
  <div class="text-left flex flex-col gap-4">
    <h2 class="text-28px-sm md:text-28px-lg underline">Email Verification</h2>
    @if (message()) {
      <p>{{ message() }}</p>
    }

    @if (isVerifying()) {
      <p>Please wait while we verify your email address.</p>
    } @else if (isVerified()) {
      <p>You can now log in to your account and start using our services.</p>
    } @else {
      <p>
        Please check your email for a verification link to complete your signup process. If you
        didn't receive an email, you can request a new one below.
      </p>
      <app-black-button
        class="w-full md:w-[40%]"
        buttonClass="w-full py-[8px] xl:py-[10px] rounded-[0px] "
        placeholder="Resend Link"
      >
      </app-black-button>
    }
  </div>
</app-auth-frame>
